html,
body {
  font-size: 62.5%;
  box-sizing: border-box;
  margin: 0;
  background-color: black;
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
}

@media only screen and (max-width: 280px) {
  html {
    font-size: 62.5%;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  outline: none;
  text-rendering: optimizeLegibility;
}
