html,
body {
  font-size: 62.5%;
  box-sizing: border-box;
  margin: 0;
  background-color: #0e1217;
  scroll-behavior: smooth;
  height: 100vh;
  overflow: scroll;
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
}

@media only screen and (max-width: 650px) {
  html {
    font-size: 47.5%;
  }
}

@media only screen and (max-width: 393px) {
  html {
    font-size: 37.5%;
  }
}

body {
  font-family: "Helvetica Neue", Baskervville, serif, Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  outline: none;
  text-rendering: optimizeLegibility;
}
